.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  /* background-color: #0f0e17; */
  color: white;
  background: rgb(15, 14, 23);
  background: linear-gradient(
    270deg,
    rgba(15, 14, 23, 1) 0%,
    rgba(127, 90, 240, 1) 50%,
    rgba(15, 14, 23, 1) 100%
  );
}
